<section id="home" class="cd-hero js-cd-hero">
    <ul class="cd-hero__slider">
        <li class="cd-hero__slide cd-hero__slide--selected js-cd-slide">
            <div class="cd-hero__content cd-hero__content--half-width">
                <h2>Website Tra Cứu Tương Tác Thuốc</h2>
                <p>Tra cứu thuốc, hoạt chất, tương tác cần biết thông tin.</p>
                <div class="container">
                    <div class="input-group" style="width: 500px; margin-left: 70px;">
                        <input type="text" class="form-control" placeholder="Tìm kiếm..." style="height: 40px; font-size: 20px;" />
                        <span class="input-group-btn">
                  <button class="btn btn-search" type="button"><i class="fa fa-search fa-fw" ></i> Search</button>
                </span>
                    </div>
                </div>
                <a href="#0" class="hvr-bounce-to-right cd-hero__btn" style="margin-right: -20px;">Tên Thuốc</a>
                <a href="#0" class="hvr-bounce-to-right cd-hero__btn">Hoạt Chất</a>
                <a href="#0" class="hvr-bounce-to-right cd-hero__btn">Tương Tác Thuốc</a>
            </div>
            <!-- .cd-hero__content -->

            <div class="cd-hero__content cd-hero__content--half-width" style="margin-right: -100px;">
                <p style="margin-right: 200px;;">Tìm kiếm theo chữ cái</p>
                <a href="#" style="color: white; margin-right: 20px;">A</a>
                <a href="#" style="color: white; margin-right: 20px;">B</a>
                <a href="#" style="color: white; margin-right: 20px;">C</a>
                <a href="#" style="color: white; margin-right: 20px;">D</a>
                <a href="#" style="color: white; margin-right: 20px;">E</a>
                <a href="#" style="color: white; margin-right: 20px;">F</a>
                <br />
                <a href="#" style="color: white; margin-right: 20px;">G</a>
                <a href="#" style="color: white; margin-right: 20px;">H</a>
                <a href="#" style="color: white; margin-right: 20px;">I</a>
                <a href="#" style="color: white; margin-right: 20px;">J</a>
                <a href="#" style="color: white; margin-right: 20px;">K</a>
                <a href="#" style="color: white; margin-right: 20px;">L</a>
                <br />
                <a href="#" style="color: white; margin-right: 20px;">M</a>
                <a href="#" style="color: white; margin-right: 20px;">N</a>
                <a href="#" style="color: white; margin-right: 20px;">O</a>
                <a href="#" style="color: white; margin-right: 20px;">P</a>
                <a href="#" style="color: white; margin-right: 20px;">Q</a>
                <a href="#" style="color: white; margin-right: 20px;">R</a>
                <br />
                <a href="#" style="color: white; margin-right: 20px;">S</a>
                <a href="#" style="color: white; margin-right: 20px;">T</a>
                <a href="#" style="color: white; margin-right: 20px;">U</a>
                <a href="#" style="color: white; margin-right: 20px;">V</a>
                <a href="#" style="color: white; margin-right: 20px;">W</a>
                <a href="#" style="color: white; margin-right: 20px;">X</a>
                <a href="#" style="color: white; margin-right: 20px;">Y</a>
                <a href="#" style="color: white; margin-right: 20px;">Z</a>
            </div>
        </li>


    </ul>
    <!-- .cd-hero__slider -->

</section>
<!-- .cd-hero -->

<div id="about" class="section wb">
    <div class="container">
        <div class="row" style="margin-bottom: 20px; margin-top: -100px;">
            <div><img src="assets/images/icons/searchicon.png" style="width: 45px; height: 45px;" /><strong style="color: black; font-size: 36px; vertical-align: middle;">Từ khóa hot</strong></div>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <button class="swiper-slide" style="background-color: royalblue; color: white;">Slide 1</button>
                    <button class="swiper-slide" style="background-color:teal; color: white;">Slide 2</button>
                    <button class="swiper-slide" style="background-color: crimson; color: white;">Slide 3</button>
                    <button class="swiper-slide" style="background-color: darkmagenta; color: white;">Slide 4</button>
                    <button class="swiper-slide" style="background-color: dimgrey; color: white;">Slide 5</button>
                    <button class="swiper-slide" style="background-color: green; color: white;">Slide 6</button>
                    <button class="swiper-slide" style="background-color: hotpink; color: white;">Slide 7</button>
                </div>
                <div class="swiper-pagination"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>

        </div>
    </div>
    <!-- ================================================================ -->

    <!-- ================================================================ -->
    <div class="col-sm-12" style="background-color: rgb(9, 88, 134); height: 40px; color: white; font-size: 20px; text-align: center;"><img src="assets/images/icons/iconupdate.png" style="width: 40px; height: 40px; vertical-align: bottom;" /><strong>THUỐC MỚI LƯU HÀNH</strong> </div>
    <div class="container">

        <div id=" tour " class="bg-1 ">
            <div class="container ">
                <div class="slider">
                    <div class="slide-container">

                        <div class="card slide" style="width: 18rem;">
                            <img class="card-img-top" src="assets/images/gallery-images/Arimidex.jpg  " alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-text">Arimidex</h4>
                            </div>
                        </div>
                        <div class="card slide" style="width: 18rem;">
                            <img class="card-img-top" src="assets/images/gallery-images/BetalocZok.jpg " alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-text">BetalocZok</h4>
                            </div>
                        </div>
                        <div class="card slide" style="width: 18rem;">
                            <img class="card-img-top" src="assets/images/gallery-images/Ciprobay.jpg  " alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-text">Ciprobay</h4>
                            </div>
                        </div>
                        <div class="card slide" style="width: 18rem;">
                            <img class="card-img-top" src="assets/images/gallery-images/Eumovate.jpg  " alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-text">Eumovate</h4>
                            </div>
                        </div>
                        <div class="card slide" style="width: 18rem;">
                            <img class="card-img-top" src="assets/images/gallery-images/Glucobay.jpg  " alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-text">Glucobay</h4>
                            </div>
                        </div>
                        <div class="card slide" style="width: 18rem;">
                            <img class="card-img-top" src="assets/images/gallery-images/Daktarin.png  " alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-text">Daktarin</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12" style="background-color: rgb(209, 136, 87); height: 40px; color: white; font-size: 20px; text-align: center; vertical-align: middle;"><img src="assets/images/icons/iconcn.png" style="width: 40px; height: 40px; vertical-align: bottom;" /><strong>THUỐC MỚI THAY ĐỔI/BỔ SUNG</strong> </div>
    <div class="container">

        <div id=" tour " class="bg-1 ">
            <div class="container ">
                <div class="slider">
                    <div class="slide-container">

                        <div class="card slide" style="width: 18rem;">
                            <img class="card-img-top" src="assets/images/gallery-images/Arimidex.jpg  " alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-text">Arimidex</h4>
                            </div>
                        </div>
                        <div class="card slide" style="width: 18rem;">
                            <img class="card-img-top" src="assets/images/gallery-images/BetalocZok.jpg " alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-text">BetalocZok</h4>
                            </div>
                        </div>
                        <div class="card slide" style="width: 18rem;">
                            <img class="card-img-top" src="assets/images/gallery-images/Ciprobay.jpg  " alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-text">Ciprobay</h4>
                            </div>
                        </div>
                        <div class="card slide" style="width: 18rem;">
                            <img class="card-img-top" src="assets/images/gallery-images/Eumovate.jpg  " alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-text">Eumovate</h4>
                            </div>
                        </div>
                        <div class="card slide" style="width: 18rem;">
                            <img class="card-img-top" src="assets/images/gallery-images/Glucobay.jpg  " alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-text">Glucobay</h4>
                            </div>
                        </div>
                        <div class="card slide" style="width: 18rem;">
                            <img class="card-img-top" src="assets/images/gallery-images/Daktarin.png  " alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-text">Daktarin</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-sm-12" style="background-color: rgb(130, 39, 204); height: 40px; color: white; font-size: 20px; text-align: center;"><img src="assets/images/icons/iconcancel.png" style="width: 40px; height: 40px; vertical-align: bottom;" /><strong>THUỐC MỚI RÚT SỐ ĐKKD</strong> </div> -->

</div>