USE [master]
GO
/****** Object:  Database [DrugInteract]    Script Date: 6/27/2020 7:54:01 PM ******/
CREATE DATABASE [DrugInteract]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DrugInteract', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DrugInteract.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DrugInteract_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DrugInteract_log.ldf' , SIZE = 4224KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DrugInteract].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DrugInteract]
GO
/****** Object:  Table [dbo].[HCThuoc]    Script Date: 6/27/2020 7:54:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HCThuoc](
	[MaThuoc] [nvarchar](100) NOT NULL,
	[MaHoatChat] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_HCThuoc] PRIMARY KEY CLUSTERED 
(
	[MaThuoc] ASC,
	[MaHoatChat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoatChat]    Script Date: 6/27/2020 7:54:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoatChat](
	[MaHoatChat] [nvarchar](100) NOT NULL,
	[TenHoatChat] [nvarchar](255) NULL,
 CONSTRAINT [PK_HoatChat] PRIMARY KEY CLUSTERED 
(
	[MaHoatChat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Thuoc]    Script Date: 6/27/2020 7:54:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thuoc](
	[MaThuoc] [nvarchar](100) NOT NULL,
	[TenThuoc] [nvarchar](255) NULL,
	[PhanLoai] [nvarchar](255) NULL,
	[NongDo] [nvarchar](255) NULL,
	[DangBaoChe] [nvarchar](255) NULL,
	[QCDongGoi] [nvarchar](255) NULL,
	[HSD] [nvarchar](255) NULL,
 CONSTRAINT [PK_Thuoc] PRIMARY KEY CLUSTERED 
(
	[MaThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TuongTac]    Script Date: 6/27/2020 7:54:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuongTac](
	[HC] [nvarchar](100) NOT NULL,
	[HC_TT] [nvarchar](100) NOT NULL,
	[MucDo] [float] NULL,
	[NoiDung] [nvarchar](max) NULL,
 CONSTRAINT [PK_TuongTac] PRIMARY KEY CLUSTERED 
(
	[HC] ASC,
	[HC_TT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[HCThuoc] ([MaThuoc], [MaHoatChat]) VALUES (N'GC-245-16', N'HC-36')
INSERT [dbo].[HCThuoc] ([MaThuoc], [MaHoatChat]) VALUES (N'GC-246-16', N'HC-516')
INSERT [dbo].[HCThuoc] ([MaThuoc], [MaHoatChat]) VALUES (N'GC-259-16', N'HC-42')
GO
INSERT [dbo].[HoatChat] ([MaHoatChat], [TenHoatChat]) VALUES (N'HC-1', N'Hydroxocobalamin acetat')
INSERT [dbo].[HoatChat] ([MaHoatChat], [TenHoatChat]) VALUES (N'HC-10', N'Cao khô Actiso')
INSERT [dbo].[HoatChat] ([MaHoatChat], [TenHoatChat]) VALUES (N'HC-100', N'Pantoprazol')
GO
INSERT [dbo].[Thuoc] ([MaThuoc], [TenThuoc], [PhanLoai], [NongDo], [DangBaoChe], [QCDongGoi], [HSD]) VALUES (N'GC-215-13', N'EtonciB1', N'Thuốc kê đơn', N'150 mg', N'Viên nén', N'Hộp 10 vỉ x 10 viên', N'36 tháng')
INSERT [dbo].[Thuoc] ([MaThuoc], [TenThuoc], [PhanLoai], [NongDo], [DangBaoChe], [QCDongGoi], [HSD]) VALUES (N'GC-216-13', N'EtonciB6', N'Thuốc kê đơn', N'120mg', N'Viên nén', N'Hộp 10 vỉ x 10 viên', N'36 tháng')
INSERT [dbo].[Thuoc] ([MaThuoc], [TenThuoc], [PhanLoai], [NongDo], [DangBaoChe], [QCDongGoi], [HSD]) VALUES (N'GC-217-13', N'Dodevifort', N'Thuốc kê đơn', N' 10 mg/2 ml', N'Dung dịch  tiêm', N'Hộp 6 ống x 2 ml', N'30 tháng')
GO
INSERT [dbo].[TuongTac] ([HC], [HC_TT], [MucDo], [NoiDung]) VALUES (N'HC-106', N'HC-577', 3, N'Tăng nguy cơ xảy ra các biến cố có hại (hạ huyết áp, ngất, tăng kali máu, thay đổi chức năng thận, suy thận cấp). Giám sát cẩn thận huyết áp, chức năng thận và điện giải nếu cần thiết phối hợp.')
INSERT [dbo].[TuongTac] ([HC], [HC_TT], [MucDo], [NoiDung]) VALUES (N'HC-106', N'HC-578', 2, N'NSAID có thể làm giảm tác động hạ huyết áp của ARB. Thận trọng nếu phối hợp. Theo dõi liệu lực hạ huyết áp và đánh giá chức năng thận định kì.')
INSERT [dbo].[TuongTac] ([HC], [HC_TT], [MucDo], [NoiDung]) VALUES (N'HC-162', N'HC-275', 2, N'Tăng nồng độ diclofenac trong huyết tương. Không được vượt quá liều thấp nhất khuyến cáo của diclofenac là 50 mg 2 lần/ngày.')
ALTER TABLE [dbo].[HCThuoc]  WITH CHECK ADD  CONSTRAINT [FK_HCThuoc_HoatChat] FOREIGN KEY([MaHoatChat])
REFERENCES [dbo].[HoatChat] ([MaHoatChat])
GO
ALTER TABLE [dbo].[HCThuoc] CHECK CONSTRAINT [FK_HCThuoc_HoatChat]
GO
ALTER TABLE [dbo].[HCThuoc]  WITH CHECK ADD  CONSTRAINT [FK_HCThuoc_Thuoc] FOREIGN KEY([MaThuoc])
REFERENCES [dbo].[Thuoc] ([MaThuoc])
GO
ALTER TABLE [dbo].[HCThuoc] CHECK CONSTRAINT [FK_HCThuoc_Thuoc]
GO
ALTER TABLE [dbo].[TuongTac]  WITH CHECK ADD  CONSTRAINT [FK_TuongTac_HoatChat] FOREIGN KEY([HC])
REFERENCES [dbo].[HoatChat] ([MaHoatChat])
GO
ALTER TABLE [dbo].[TuongTac] CHECK CONSTRAINT [FK_TuongTac_HoatChat]
GO
ALTER TABLE [dbo].[TuongTac]  WITH CHECK ADD  CONSTRAINT [FK_TuongTac_HoatChat1] FOREIGN KEY([HC_TT])
REFERENCES [dbo].[HoatChat] ([MaHoatChat])
GO
ALTER TABLE [dbo].[TuongTac] CHECK CONSTRAINT [FK_TuongTac_HoatChat1]
GO
USE [master]
GO
