<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="subscribe-text">
                    <h3>Nhập Email của bạn để nhận thông tin mới.</h3>
                    <p>Đừng bỏ lỡ những thông tin về thuốc mới nhất hiện nay.</p>
                </div>

                <div class="subscribe-form">
                    <form>
                        <input class="form-control" id="subscribe_email" name="email" placeholder="Email Address..." required="" type="email">
                        <button type="submit" class="btn subscribe-btn"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->
<div style="background-color: green;">
    <div class="container">
        <div style="text-align: center; color: black; font-size: 18px;">
            Ngân hàng dữ liệu ngành Dược
            <br />
            <strong>Bản quyền:</strong> Cục Quản lý Dược - Bộ Y tế
        </div>
    </div>
</div>
<!-- end copyrights -->

<a href="#home" data-scroll class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>