<header class="header header_style_01">
  <nav class="navbar header-nav navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="index.html"><img src="assets/images/logos/rsz_logonew2.png" alt="image"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarApp"
        aria-controls="navbarApp" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarApp">
        <ul class="navbar-nav">
          <li>
            <a class="nav-link" routerLink="/Home"><img src="assets/images/icons/navicon.png"
                style="width: 30px; height: 30px; vertical-align: bottom;" />TRANG CHỦ</a>
          </li>
          <li>
            <a class="nav-link" routerLink="/Search"><img src="assets/images/icons/navicon2.png"
                style="width: 30px; height: 30px; vertical-align: bottom;" />TÌM KIẾM THÔNG TIN</a>
            <ul class="nav-sub">
              <li><a href="pages/gallery.html"><i class="glyphicon glyphicon-chevron-right"></i> Thuốc</a></li>
              <li><a href="pages/full-width.html"><i class="glyphicon glyphicon-chevron-right"></i> Hoạt Chất</a></li>
              <li><a href="pages/sidebar-left.html"><i class="glyphicon glyphicon-chevron-right"></i> Tương Tác
                  Thuốc</a></li>
            </ul>
          </li>
          <li>
            <a class="nav-link" routerLink="/Feedback"><img src="assets/images/icons/iconemail.png"
                style="width: 30px; height: 30px; vertical-align: bottom;" /> PHẢN HỒI</a>
          </li>
          <li *ngIf="!isLoggedIn">
            <a class="nav-link" routerLink="/Login"><img src="assets/images/icons/navicon1.png"
                style="width: 30px; height: 30px; vertical-align: bottom;" />TÀI KHOẢN</a>
            <ul class="nav-sub">
              <li><a routerLink="/Login"><i class="glyphicon glyphicon-user"></i> Đăng Nhập</a></li>
              <li><a routerLink="/Signup"><i class="glyphicon glyphicon-pencil"></i> Đăng Ký</a></li>
            </ul>
          </li>
          <li *ngIf="isLoggedIn">
            <a href="#" class="nav-link" routerLink="profile">{{ username }}</a>
            <ul class="nav-sub">
              <li class="nav-item">
                <a href class="nav-link" (click)="logout()">LogOut</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

    </div>
  </nav>

</header>
