<div class="container" style="margin-top:150px;">
    <div class="forms-container">
        <div class="signin-singup">
            <form action="" class="sign-in-form">
                <h2 class="title" style="font-weight: bold; font-size: 2.6rem;">Sign in</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Username">
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password">
                </div>
                <input type="submit" value="Login" class="btn-solid">

                <p class="socail-text">Have not yet account? <a routerLink="/Signup" class="signup">Sign up</a></p>
                <div class="socail-media">
                    <a href="#" class="socail-icon">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="socail-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="socail-icon">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="#" class="socail-icon">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>

    <div class="panels-container" style="z-index: 1;">
        <img src="assets/images/sgv/login.svg">
    </div>
</div>

<!-- end section -->