<div id="contact" class="section lb">
    <div class="container">
        <div class="section-title text-center">
            <h3 style="margin-top: 40px;">Phản hồi ý kiến</h3>
            <div class="info-box" data-toggle="tooltip" data-placement="bottom" title="Cung cấp ý kiến cá nhân đối với website.">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
            </div>
        </div>
        <!-- end title -->

        <div class="row">
            <div class="col-md-12">
                <div class="contact_form">
                    <div id="message"></div>
                    <form id="contactform" class="row" action="contact.php" name="contactform" method="post">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="name" id="name" class="form-control" placeholder="Tên người dùng">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <input type="email" name="email" id="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="phone" id="phone" class="form-control" placeholder="Số điện thoại">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="address" id="address" class="form-control" placeholder="Địa chỉ">
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input type="text" name="title" id="title" class="form-control" placeholder="Tiêu đề">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <textarea class="form-control" name="comments" id="comments" rows="6" placeholder="Nội dung..."></textarea>
                            </div>
                            <div class="text-center pdi">
                                <button type="submit" value="SEND" id="submit" class="hvr-bounce-to-right get-btn">Gửi thông tin</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->